* {
	padding: 0;
	margin: 0;
	outline: none;
	box-sizing: border-box;
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}
::-webkit-scrollbar {
	width: 0;
}

.container {
	width: 100%;
	height: 100vh;
	background-color: #f5f6e7;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('../img/bg/bg.png');
}

.player {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 433px;
	height: 814px;
	transform: translate(-50%, -50%);
	border-radius: 50px;
	background-color: #f5f6e7;
	box-shadow: -3px -3px 9px 0.1px #fff, 3px 3px 9px 0.1px #ccc;
	overflow: hidden;
}
.contentWrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 365px;
	height: 708px;
	transform: translate(-50%, -50%);
}

.button {
	background: #f5f6e7;
	border-radius: 50%;
	box-shadow: -3px -3px 9px 0.1px #fff, 3px 3px 9px 0.1px #ccc;
	position: relative;
	cursor: pointer;

	&:before {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		content: "";
		background-color: #f5f6e7;
		width: 85%;
		height: 85%;
		display: inline-block;
		border-radius: 50%;
		box-shadow: -1px -1px 2px 0.1px #fff, 5px 5px 10px 0.1px #ccc;
		background-size: 50%;
		background-repeat: no-repeat;
	}

	&:active:before {
		background-size: 49%;
		box-shadow: inset -3px -3px 5px 0.1px #fff, inset 3px 3px 5px 0.7px #ccc;
	}
}

.musicSwitch {
	position: absolute;
	left: 50%;
	height: 44px;
	width: 340px;
	transform: translateX(-50%);

	._prev,
	._next {
		width: 44px;
		height: 44px;
	}
	._prev {
		float: left;

		&:before {
			background-position: 8px center;
			background-image: url('../img/icon/prevFull.png');
		}
	}
	._next {
		float: right;

		&:before {
			background-position: 10px center;
			background-image: url('../img/icon/nextFull.png');
		}
	}
}

@mixin albumBgMix($albumBgName, $imageFormat) {
	.#{$albumBgName} {
		.album:before {
			background-image: url(../img/albumBg/#{$albumBgName}.#{$imageFormat});
		}
	}
}

@include albumBgMix('jerryHerman', 'jpg');
@include albumBgMix('elvisPresley', 'jpg');
@include albumBgMix('royOrbison', 'jpg');
@include albumBgMix('frankSinatra', 'jpg');
@include albumBgMix('jimCroce', 'jpg');
@include albumBgMix('redHotChiliPeppers', 'jpg');
@include albumBgMix('stephaneGrappelli', 'jpg');
@include albumBgMix('evanKing', 'jpg');
@include albumBgMix('JR', 'jpg');
@include albumBgMix('theDeli', 'png');

.album {
	position: absolute;
	top: 86px;
	left: 50%;
	transform: translateX(-50%);
	display: inline-block;
	width: 300px;
	height: 300px;
	border-radius: 100%;
	text-align: center;
	box-shadow: 15px 15px 30px -10px rgba(0,0,0,0.15),
				-20px -20px 20px -10px rgba(255,255,255,1),
				-0.5px -0.5px 0 rgba(255,255,255,1),
				0.5px 0.5px 0 rgba(0,0,0,0.02);
	z-index: 5;
	background-color: #f5f6e7;

	&:before {
		position: absolute;
		content: '';
		display: block;
		width: 85%;
		height: 85%;
		border-radius: inherit;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.3),
		            inset -4px -4px 6px -1px rgba(0,0,0,0.3);
		background-image: url('../img/albumBg/JR.jpg');
		background-size: cover;
		background-color: transparent;
	}
	&:after {
		position: absolute;
		content: '';
		display: block;
		width: 70%;
		height: 70%;
		border-radius: inherit;
		left: 50%;
		top: 50%;
		background-color: rgba(0,0,0,0.025);
		border: 1px solid rgba(0,0,0,0.01);
		transform: translateX(-50%) translateY(-50%);
		box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.3),
		            inset -4px -4px 6px -1px rgba(0,0,0,0.3);
	}

	&__internal {
		position: relative;
		margin-top: 45px;
		display: inline-block;
		width: 210px;
		height: 210px;
		border-radius: 100%;
		text-align: center;

		&:before {
			position: absolute;
			content: '';
			display: block;
			width: 80%;
			height: 80%;
			border-radius: inherit;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.3),
			            inset -4px -4px 6px -1px rgba(0,0,0,0.3);
		}
	}
}

.musicInfo {
	position: absolute;
	top: 451px;
	left: 50%;
	transform: translateX(-50%);
	width: 185px;
	height: 58px;

	&__name {
		font-family: sans-serif;
		font-size: 30px;
		text-align: center;
		font-weight: 500;
		margin-bottom: 8px;
		color: #424234;
	}
	&__author {
		font-family: sans-serif;
		font-size: 15px;
		text-align: center;
		font-weight: 100;
		color: #a3a496;
	}
}

.musicTime {
	position: absolute;
	top: 544px;
	left: 50%;
	transform: translateX(-50%);
	width: 340px;
	height: 15px;

	&__current,
	&__last {
		font-family: sans-serif;
		font-size: 15px;
		text-align: center;
		font-weight: 100;
		color: #a3a496;
	}
	&__current {
		float: left;
	}
	&__last {
		float: right;
	}
}

.musicBar {
	position: absolute;
	top: 572px;
	left: 50%;
	transform: translateX(-50%);
	width: 340px;
	height: 7px;
	border-radius: 5px;
	background-color: #efefef;
	cursor: pointer;

	&__length {
		display: block;
		width: 0%;
		background: #749064;
		height: 100%;
		border-radius: 5px;
		transition: width linear 200ms;
	}
	&__circle {
		margin-top: -10px;
		margin-right: -13px;
		width: 27px;
		height: 27px;
		display: block;
		float: right;
		border-radius: 50%;
	}
	&__circlePoint {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 11px;
		height: 11px;
		border-radius: 50%;
		background-color: #749064;
	}
}

.musicOrder {
	position: absolute;
	bottom: 22.5px;
	width: 100%;
	height: 22px;

	&__loop,
	&__shuffle {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
	}
	&__loop {
		float: left;
	}
	&__shuffle {
		float: right;
	}
	&__loop {
		width: 28.5px;
		height: 100%;
		background-image: url('../img/icon/loop.png');
	}
	&__loop {
		&._repeat {
			background-image: url('../img/icon/repeat.png');
		}
	}
	&__loop {
		&._off {
			opacity: .5;
		}
	}
	&__shuffle {
		width: 28.5px;
		height: 100%;
		background-image: url('../img/icon/shuffle.png');
		opacity: .5;
	}
	&__shuffle {
		&._shuffle {
			opacity: 1;
		}
	}
}

.musicControl {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 255px;
	height: 67px;

	&__play {
		background: #749064;
		box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.2),
					-6px -6px 10px -1px rgba(255,255,255,0.05);

		&._pause,
		&._play {
			&:before {
				background-repeat: no-repeat;
				background-size: 35%;
			}
		}

		&._pause {
			&:before {
				background-position: 18px center;
				background-image: url('../img/icon/pause.png');
			}
		}
		&._play {
			&:before {
				background-position: 20px center;
				background-image: url('../img/icon/play.png');
			}
			&:active:before {
				background-size: 34%;
			}
		}

		&:before {
			background: #749064;
			box-shadow: -1px -1px 2px 0.1px rgba(0,0,0,0.2), 5px 5px 10px 0.1px rgba(0,0,0,0.2);
		}
		&:active:before {
			box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
						inset -4px -4px 6px -1px rgba(255,255,255,0.2);
		}
	}

	&__backward,
	&__play,
	&__forward {
		display: block;
		float: left;
	}
	&__backward,
	&__play {
		margin-right: 27px;
	}
	&__backward,
	&__play,
	&__forward {
		width: 67px;
		height: 67px;
	}

	&__backward {
		&:before {
			background-position: 12px center;
			background-image: url('../img/icon/backward.png');
		}
	}
	&__forward {
		&:before {
			background-position: 16px center ;
			background-image: url('../img/icon/forward.png');
		}
	}
}