$palettePrimary: #f5f6e7;
$paletteTitleColor: #424234;
$paletteTextColor:  #a3a496;
$paletteMusicBar:  #efefef;
$paletteControlButtons:  #749064;

$paletteLightShadow: #fff;
$paletteDarkShadow: #ccc;

* {
	padding: 0;
	margin: 0;
	outline: none;
	box-sizing: border-box;
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}
::-webkit-scrollbar {
	width: 0;
}

.container {
	width: 100%;
	height: 100vh;
	background-color: $palettePrimary;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('../image/bg/bg.png');
}
.player {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 433px;
	height: 814px;
	transform: translate(-50%, -50%);
	border-radius: 50px;
	background-color: $palettePrimary;
	box-shadow: -3px -3px 9px 0.1px $paletteLightShadow, 3px 3px 9px 0.1px $paletteDarkShadow;
	overflow: hidden;
}
.contentWrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 365px;
	height: 708px;
	transform: translate(-50%, -50%);
}

.button {
	background: $palettePrimary;
	border-radius: 50%;
	box-shadow: -3px -3px 9px 0.1px $paletteLightShadow, 3px 3px 9px 0.1px $paletteDarkShadow;
	position: relative;
	cursor: pointer;

	&:before {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		content: "";
		background-color: $palettePrimary;
		width: 85%;
		height: 85%;
		display: inline-block;
		border-radius: 50%;
		box-shadow: -1px -1px 2px 0.1px #fff, 5px 5px 10px 0.1px #ccc;
		background-size: 50%;
		background-repeat: no-repeat;
	}

	&:active:before {
		background-size: 49%;
		box-shadow: inset -3px -3px 5px 0.1px #fff, inset 3px 3px 5px 0.7px #ccc;
	}
}

.musicSwitch {
	position: absolute;
	left: 50%;
	height: 44px;
	width: 340px;
	transform: translateX(-50%);

	._prev,
	._next {
		width: 44px;
		height: 44px;
	}
	._prev {
		float: left;

		&:before {
			background-position: 8px center;
			background-image: url('../image/icon/prev.png');
		}
	}
	._next {
		float: right;

		&:before {
			background-position: 10px center;
			background-image: url('../image/icon/next.png');
		}
	}
}

@mixin albumBgMix($albumBgName, $imageFormat) {
	.#{$albumBgName} {
		.album:before {
			background-image: url(../image/albumBg/#{$albumBgName}.#{$imageFormat});
		}
	}
}

@include albumBgMix('jerryHerman', 'jpg');
@include albumBgMix('elvisPresley', 'jpg');
@include albumBgMix('royOrbison', 'jpg');
@include albumBgMix('frankSinatra', 'jpg');
@include albumBgMix('jimCroce', 'jpg');
@include albumBgMix('redHotChiliPeppers', 'jpg');
@include albumBgMix('stephaneGrappelli', 'jpg');
@include albumBgMix('evanKing', 'jpg');
@include albumBgMix('JR', 'jpg');
@include albumBgMix('theDeli', 'png');

.album {
	position: absolute;
	top: 86px;
	left: 50%;
	transform: translateX(-50%);
	display: inline-block;
	width: 300px;
	height: 300px;
	border-radius: 100%;
	text-align: center;
	box-shadow: 15px 15px 30px -10px rgba(0,0,0,0.15),
				-20px -20px 20px -10px rgba(255,255,255,1),
				-0.5px -0.5px 0 rgba(255,255,255,1),
				0.5px 0.5px 0 rgba(0,0,0,0.02);
	z-index: 5;
	background-color: $palettePrimary;

	&:before {
		position: absolute;
		content: '';
		display: block;
		width: 85%;
		height: 85%;
		border-radius: inherit;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.3),
		            inset -4px -4px 6px -1px rgba(0,0,0,0.3);
		background-image: url('../image/albumBg/JR.jpg');
		background-size: cover;
		background-color: transparent;
	}
	&:after {
		position: absolute;
		content: '';
		display: block;
		width: 70%;
		height: 70%;
		border-radius: inherit;
		left: 50%;
		top: 50%;
		background-color: rgba(0,0,0,0.025);
		border: 1px solid rgba(0,0,0,0.01);
		transform: translateX(-50%) translateY(-50%);
		box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.3),
		            inset -4px -4px 6px -1px rgba(0,0,0,0.3);
	}

	&__internal {
		position: relative;
		margin-top: 45px;
		display: inline-block;
		width: 210px;
		height: 210px;
		border-radius: 100%;
		text-align: center;

		&:before {
			position: absolute;
			content: '';
			display: block;
			width: 80%;
			height: 80%;
			border-radius: inherit;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.3),
			            inset -4px -4px 6px -1px rgba(0,0,0,0.3);
		}
	}
}

.musicInfo {
	position: absolute;
	top: 451px;
	left: 50%;
	transform: translateX(-50%);
	width: 185px;
	height: 58px;

	&__name {
		font-family: sans-serif;
		font-size: 30px;
		text-align: center;
		font-weight: 500;
		margin-bottom: 8px;
		color: $paletteTitleColor;
	}
	&__author {
		font-family: sans-serif;
		font-size: 15px;
		text-align: center;
		font-weight: 100;
		color: $paletteTextColor;
	}
}

.musicTime {
	position: absolute;
	top: 544px;
	left: 50%;
	transform: translateX(-50%);
	width: 340px;
	height: 15px;

	&__current,
	&__last {
		font-family: sans-serif;
		font-size: 15px;
		text-align: center;
		font-weight: 100;
		color: $paletteTextColor;
	}
	&__current {
		float: left;
	}
	&__last {
		float: right;
	}
}

.musicBar {
	position: absolute;
	top: 572px;
	left: 50%;
	transform: translateX(-50%);
	width: 340px;
	height: 7px;
	border-radius: 5px;
	background-color: $paletteMusicBar;
	cursor: pointer;

	&__length {
		display: block;
		width: 0%;
		background-color: $paletteControlButtons;
		height: 100%;
		border-radius: 5px;
		transition: width linear 200ms;
	}
	&__circle {
		margin-top: -10px;
		margin-right: -13px;
		width: 27px;
		height: 27px;
		display: block;
		float: right;
		border-radius: 50%;
	}
	&__circlePoint {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 11px;
		height: 11px;
		border-radius: 50%;
		background-color: $paletteControlButtons;
	}
}

.musicOrder {
	position: absolute;
	bottom: 22.5px;
	width: 100%;
	height: 22px;

	&__loop,
	&__shuffle {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
	}
	&__loop {
		float: left;
	}
	&__shuffle {
		float: right;
	}
	&__loop {
		width: 28.5px;
		height: 100%;
		background-image: url('../image/icon/loop.png');
	}
	&__loop {
		&._repeat {
			background-image: url('../image/icon/repeat.png');
		}
	}
	&__loop {
		&._off {
			opacity: .5;
		}
	}
	&__shuffle {
		width: 28.5px;
		height: 100%;
		background-image: url('../image/icon/shuffle.png');
		opacity: .5;
	}
	&__shuffle {
		&._shuffle {
			opacity: 1;
		}
	}
}

.musicControl {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 255px;
	height: 67px;

	&__play {
		background-color: $paletteControlButtons;
		box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.2),
					-6px -6px 10px -1px rgba(255,255,255,0.05);

		&._pause,
		&._play {
			&:before {
				background-repeat: no-repeat;
				background-size: 35%;
			}
		}

		&._pause {
			&:before {
				background-position: 18px center;
				background-image: url('../image/icon/pause.png');
			}
		}
		&._play {
			&:before {
				background-position: 20px center;
				background-image: url('../image/icon/play.png');
			}
			&:active:before {
				background-size: 34%;
			}
		}

		&:before {
			background-color: $paletteControlButtons;
			box-shadow: -1px -1px 2px 0.1px rgba(0,0,0,0.2), 5px 5px 10px 0.1px rgba(0,0,0,0.2);
		}
		&:active:before {
			box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
						inset -4px -4px 6px -1px rgba(255,255,255,0.2);
		}
	}

	&__backward,
	&__play,
	&__forward {
		display: block;
		float: left;
	}
	&__backward,
	&__play {
		margin-right: 27px;
	}
	&__backward,
	&__play,
	&__forward {
		width: 67px;
		height: 67px;
	}

	&__backward {
		&:before {
			background-position: 12px center;
			background-image: url('../image/icon/backward.png');
		}
	}
	&__forward {
		&:before {
			background-position: 16px center ;
			background-image: url('../image/icon/forward.png');
		}
	}
}

@media screen and (max-width: 433px) {
	.player {
		width: 375px;
		height: 708px;
	}
	.contentWrapper {
		width: 318px;
		height: 616px;
	}
	.musicSwitch {
		height: 38px;
		width: 296px;

		._prev,
		._next {
			width: 38px;
			height: 38px;
		}
		._prev {
			&:before {
				background-position: 7px center;
			}
		}
		._next {
			&:before {
				background-position: 9px center;
			}
		}
	}
	.album {
		top: 75px;
		width: 261px;
		height: 261px;

		&__internal {
			margin-top: 39px;
			width: 183px;
			height: 183px;
		}
	}
	.musicInfo {
		top: 392px;
		width: 161px;
		height: 51px;

		&__name {
			font-size: 26px;
			margin-bottom: 7px;
		}
		&__author {
			font-size: 13px;
		}
	}
	.musicTime {
		top: 473px;
		width: 296px;
		height: 13px;

		&__current,
		&__last {
			font-size: 13px;
		}
	}

	.musicBar {
		top: 498px;
		width: 296px;
		height: 6px;

		&__length {
			transition: width linear 175ms;
		}
		&__circle {
			margin-top: -9px;
			margin-right: -11px;
			width: 24px;
			height: 24px;
		}
		&__circlePoint {
			width: 10px;
			height: 10px;
		}
	}
	.musicOrder {
		bottom: 20px;
		height: 17px;

		&__loop,
		&__shuffle {
			width: 25px;
		}
	}

	.musicControl {
		width: 222px;
		height: 58px;

		&__play {
			&._pause {
				&:before {
					background-position: 16px center;
				}
			}
		}
		&__play {
			&._play {
				&:before {
					background-position: 17px center;
				}
			}
		}
		&__backward,
		&__play {
			margin-right: 24px;
		}
		&__backward,
		&__play,
		&__forward {
			width: 58px;
			height: 58px;
		}
		&__backward {
			&:before {
				background-position: 10px center;
			}
		}
		&__forward {
			&:before {
				background-position: 14px center ;
			}
		}
	}
}

@media screen and (max-width: 375px) {
	.container {
		background-image: none;
	}
	.player {
		height: 667px;
		border-radius: 0;
		box-shadow: none;
	}
	.contentWrapper {
		height: 579px;
	}
	.musicSwitch {
		height: 36px;

		._prev,
		._next {
			width: 36px;
			height: 36px;
		}
	}
	.album {
		top: 71px;
		width: 245px;
		height: 245px;

		&__internal {
			margin-top: 37px;
			width: 172px;
			height: 172px;
		}
	}
	.musicInfo {
		top: 369px;
		height: 48px;

		&__name {
			font-size: 24px;
		}
		&__author {
			font-size: 12px;
		}
	}
	.musicTime {
		top: 445px;
		height: 12px;

		&__current,
		&__last {
			font-size: 13px;
		}
	}
	.musicBar {
		top: 468px;
		height: 6px;

		&__circle {
			margin-right: -10px;
			width: 23px;
			height: 23px;
		}
		&__circlePoint {
			width: 9px;
			height: 9px;
		}
	}
	.musicOrder {
		bottom: 19px;
		height: 16px;
	}
	.musicControl {
		width: 222px;
		height: 55px;

		&__play {
			&._pause {
				&:before {
					background-position: 15px center;
				}
			}
		}
		&__play {
			&._play {
				&:before {
					background-position: 16px center;
				}
			}
		}
		&__backward,
		&__play {
			margin-right: 24px;
		}
		&__backward,
		&__play,
		&__forward {
			width: 55px;
			height: 55px;
		}
		&__backward {
			&:before {
				background-position: 9px center;
			}
		}
		&__forward {
			&:before {
				background-position: 13px center ;
			}
		}
	}
}