@media screen and (max-width: 433px) {
	.player {
		width: 414px;
		height: 736px;
	}
	.contentWrapper {
		width: 350px;
		height: 677px;
	}
	.musicSwitch {
		height: 42px;
		width: 325px;

		._prev,
		._next {
			width: 42px;
			height: 42px;
		}
		._prev {
			&:before {
				background-position: 7px center;
			}
		}
		._next {
			&:before {
				background-position: 9px center;
			}
		}
	}
	.album {
		top: 82px;
		width: 287px;
		height: 287px;

		&__internal {
			margin-top: 43px;
			width: 201px;
			height: 201px;
		}
	}
	.musicInfo {
		top: 431px;
		width: 177px;
		height: 55px;

		&__name {
			font-size: 28px;
			margin-bottom: 7px;
		}
		&__author {
			font-size: 14px;
		}
	}
	.musicTime {
		top: 520px;
		width: 325px;
		height: 14px;

		&__current,
		&__last {
			font-size: 14px;
		}
	}
	.musicBar {
		top: 547px;
		width: 325px;
		height: 7px;

		&__length {
			transition: width linear 175ms;
		}
		&__circle {
			margin-top: -9.5px;
			margin-right: -12px;
			width: 26px;
			height: 26px;
		}
		&__circlePoint {
			width: 10.5px;
			height: 10.5px;
		}
	}
	.musicOrder {
		bottom: 21.5px;
		height: 21px;

		&__loop,
		&__shuffle {
			width: 27px;
		}
	}
	.musicControl {
		width: 244px;
		height: 64px;

		&__play {
			&._pause {
				&:before {
					background-position: 17px center;
				}
			}
		}
		&__play {
			&._play {
				&:before {
					background-position: 19px center;
				}
			}
		}
		&__backward,
		&__play {
			margin-right: 26px;
		}
		&__backward,
		&__play,
		&__forward {
			width: 64px;
			height: 64px;
		}
		&__backward {
			&:before {
				background-position: 11px center;
			}
		}
		&__forward {
			&:before {
				background-position: 15px center;
			}
		}
	}
}