@media screen and (max-width: 375px) {
	.player {
		width: 375px;
		height: 667px;
	}
	.contentWrapper {
		width: 316px;
		height: 613px;
	}
	.musicSwitch {
		height: 38px;
		width: 294px;

		._prev,
		._next {
			width: 38px;
			height: 38px;
		}
		._prev {
			&:before {
				background-position: 7px center;
			}
		}
		._next {
			&:before {
				background-position: 8.6px center;
			}
		}
	}
	.album {
		top: 74.5px;
		width: 260px;
		height: 260px;

		&__internal {
			margin-top: 39px;
			width: 182px;
			height: 182px;
		}
	}
	.musicInfo {
		top: 390px;
		width: 160px;
		height: 50px;

		&__name {
			font-size: 26px;
			margin-bottom: 7px;
		}
		&__author {
			font-size: 13px;
		}
	}
	.musicTime {
		top: 471px;
		width: 294px;
		height: 13px;

		&__current,
		&__last {
			font-size: 13px;
		}
	}
	.musicBar {
		top: 497px;
		width: 294px;
		height: 6px;

		&__circle {
			margin-top: -8.6px;
			margin-right: -11px;
			width: 23px;
			height: 23px;
		}
		&__circlePoint {
			width: 9.5px;
			height: 9.5px;
		}
	}
	.musicOrder {
		bottom: 19.5px;
		height: 19px;

		&__loop,
		&__shuffle {
			width: 25px;
		}
	}
	.musicControl {
		width: 221px;
		height: 58px;

		&__play {
			&._pause {
				&:before {
					background-position: 15.5px center;
				}
			}
		}
		&__play {
			&._play {
				&:before {
					background-position: 17px center;
				}
			}
		}
		&__backward,
		&__play {
			margin-right: 23.4px;
		}
		&__backward,
		&__play,
		&__forward {
			width: 58px;
			height: 58px;
		}
		&__backward {
			&:before {
				background-position: 10px center;
			}
		}
		&__forward {
			&:before {
				background-position: 14px center;
			}
		}
	}
}